/* Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*-------------------- */

// Import
@import 'adaptive';

// general styles
html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Roboto', sans-serif;

   &.lock {
      @include breakpoint (ff) {
         overflow: hidden;
      }
   }
}

.validation {
   z-index: 5;
}

.container {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}

.title {
   font-weight: 700;
   font-size: 64px;
   line-height: 75px;
   color: #FECB38;

   @include breakpoint (qq) {
      font-size: 58px;
      line-height: 69px;
   }
   @include breakpoint (tt) {
      font-size: 45px;
      line-height: 56px;
   }
   @include breakpoint (rr) {
      font-size: 38px;
      line-height: 49px;
      text-align: center;
   }
}
 
// Header section
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50; 
    
   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1F1F2C;;
      z-index: 2;
   }

   &__row {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 70px;
      align-items: center;

      @include breakpoint (ee) {
         height: 57px;
     }
   }

   &__logo {
      flex: 0 0 168px;
      position: relative;
      z-index: 3;
      
      @include breakpoint (ee) {
         flex: 0 0 115px;
     }
   }

   &__menu {
      @include breakpoint (ee) {
         position: fixed;
         top: -100%;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: #FECB38;
         padding: 80px 10px 20px 10px;
         transition: all 0.3s ease 0s;
      } 
   }

   &__menu.active {
      top: 0;
   }

   &__logo img {
      max-width: 100%;
   }
      
   &__list {
      display: flex;
      position: relative;
      z-index: 2;

      @include breakpoint (ee) {
         display: block;
      }   
   }

   &__list li {
      margin-left: 32px;

      @include breakpoint (ee) {
         margin-bottom: 20px;
      } 
   }
  

   &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;

      @include breakpoint (ee) {
         font-size: 26px;
         line-height: 34px;
      } 
   }

   &__link:hover, &__link:active {
      color:#dda807;
      border-bottom: 2px solid #dda807;
      transition: 0.33s;   
   }

   &__burger {
      display: none;
      
      @include breakpoint (ee) {
         display: block;
         position: relative;
         width: 30px;
         height: 20px;
         position: relative;
         z-index: 3;

         &:before,
         &:after {
            content: '';
            background-color: #fff;
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            transition: all 0.4s ease 0s;
         }

         span {
            position: absolute;
            background-color: #fff;
            left: 0;
            width: 100%;
            height: 2px;
            top: 10px;
            transition: all 0.4s ease 0s;
         }

         &.active span {
            transform: scale(0);
         }

         &:before {
            top: 0;
         }

         &:after {
            bottom: 0;
         }

         &.active:before {
            transform: rotate(45deg);
            top: 9px;
         }

         &.active:after {
            transform: rotate(-45deg);
            bottom: 9px;
         }
      } 
   }

}

//  Me section
.me  {
   background: linear-gradient(180deg, #1F1F2B 0%, #000000 100%);
   padding: 130px 0 122px 0;

   @include breakpoint (tt) {
       padding: 120px 0 80px 0;
   }
   @include breakpoint (rr) {
      padding: 110px 0 60px 0;
   }
   @include breakpoint (ff) {
      padding: 70px 0 40px 0;
   }   

   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint (ee) {
         display: block;
      } 
   }

   &__text {
      color: #fff;

      @include breakpoint (rr) {
         text-align: center;
      }
   }

   &__img {
      display: block;
      border: 8px solid #fff;
      border-radius: 100%;
      max-width: 328px;

      @include breakpoint (qq) {
         max-width: 300px;
      }
      @include breakpoint (tt) {
         max-width: 275px;
      }
      @include breakpoint (tt) {
         max-width: 225px;
         margin-top: 40px;
      }
      @include breakpoint (rr) {
         margin: 20px auto 0 auto;
      } 
   }

   &__position {
      color: #FECC3B;
      font-size: 24px;
      line-height: 28px;

      @include breakpoint (tt) {
         font-size: 20px;
         line-height: 24px;
      }
      @include breakpoint (uu) {
         font-size: 12px;
         line-height: 17px;
      }
   }

   &__name {
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 75px;
      margin: 8px 0;

      @include breakpoint (tt) {
         font-size: 59px;
         line-height: 70px;
      }
      @include breakpoint (tt) {
         font-size: 49px;
         line-height: 67px;
      }
      @include breakpoint (uu) {
         font-size: 30px;
         line-height: 45px;
      }
   }

   &__age, &__location,
   &__email, &__phone {
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      margin: 3px 0;

      @include breakpoint (tt) {
         font-size: 12px;
         line-height: 20px;
      }
      @include breakpoint (uu) {
         font-size: 10px;
         line-height: 15px;
      }
   }

   &__phone {
      margin-top: 3px;
      display: block;
   }

   &__email:hover, &__email:active, 
   &__phone:hover, &__phone:active {
      color: #FECB38;
      transition: 0.3s;
   }

   &__icons-row {
      margin-top: 32px;
      display: flex;

      @include breakpoint (rr) {
         justify-content: center;
      }
      @include breakpoint (uu) {
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }

   &__item {
      margin-right: 24px;
      

      @include breakpoint (uu) {
         margin-right: 12px;
         margin-bottom: 20px;
         flex: 0 0 20%;    
      }
      @include breakpoint (ii) {
         flex: 0 0 26%;
         margin-right: 0;
      } 
   }

   &__item:last-child {
      margin: 0;

      @include breakpoint (uu) {
         margin-bottom: 20px;
         margin-right: 12px;
      }
      @include breakpoint (ii) {
         margin-right: 0;
      }
   }  
}

// Skills section 
.skills {
   background-color: #000;
   padding: 63px 0 176px 0;

   @include breakpoint (qq) {
      padding: 43px 0 100px 0;
   }
   @include breakpoint (tt) {
      padding: 35px 0 80px 0;
   }
   @include breakpoint (rr) {
      padding: 35px 0 40px 0;
   }

   &__title {
      margin-bottom: 10px;
   }

   &__row {
      display: flex;

      @include breakpoint (yy) {
         display: block;
      }
      @include breakpoint (rr) {
         text-align: center;
      } 
   }

   &__img {
      display: block;
      margin-right: 30px;
      max-width: 598px;

      @include breakpoint (qq) {
         max-width: 408px;
      }
      @include breakpoint (tt) {
         max-width: 368px;
      }
      @include breakpoint (ee) {
         max-width: 300px;
         margin: 20px 8px 0 0 ;
      }   
      @include breakpoint (yy) {
         display: none;
      }
   }

   &__text {
      color: #fff;   
      font-size: 16px;
      line-height: 24px;
      max-width: 390px;
      margin-bottom: 4px;

      @include breakpoint (yy) {
         font-size: 12px;
         line-height: 20px;
      }
       @include breakpoint (rr) {
         margin: 0 auto;
      }
   }

   &__technologies span,
   &__language span {
      display: block;
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
      margin: 0 0 10px 0;

      @include breakpoint (tt) {
         font-size: 25px;
         line-height: 27px;
      } 
      @include breakpoint (ee) {
         margin: 0 0 5px 0;
      }
      @include breakpoint (yy) {
         font-size: 20px;
         line-height: 23px;
      }
   }

   &__language {
      margin-top: 75px;

      @include breakpoint (ee) {
         margin-top: 35px;
      }
      @include breakpoint (yy) {
         margin-top: 20px;
      }
   }
}

// Education section
.education {
   background: linear-gradient(180deg, #000000 0%, #20202D 100%);
   padding-bottom: 80px;

   @include breakpoint (pp) {
      padding-bottom: 30px;
   }

   &__item {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint (rr) {
         display: block;
         text-align: center;
         margin-top: 5px;
      }
   }

   &__name {
      font-weight: 500;
      font-size: 32px;
      color: #fff;
      line-height: 37px;

      @include breakpoint (qq) {
         font-size: 29px;
         line-height: 32px;
      }
      @include breakpoint (tt) {
         font-size: 21px;
         line-height: 27px;
      }
      @include breakpoint (ee) {
         font-size: 18px;
         line-height: 23px;
      }
      @include breakpoint (rr) {
         font-size: 16px;
         line-height: 21px;
      }
   }

   &__logo {
      max-width: 427px;

      @include breakpoint (qq) {
         max-width: 350px;        
      }
      @include breakpoint (tt) {
         max-width: 300px;
      }
      @include breakpoint (ee) {
         max-width: 250px;
      }
      @include breakpoint (rr) {
        margin-top: 20px;
      }
   }
}

.project {
   padding: 30px 0;
   background-color: #20202D;

   &__title {
      margin-bottom: 50px;

      @include breakpoint (pp) {
         margin-bottom: 20px;
      }
   }
   
   &__slide {
      align-items: center;
      text-align: center;
   }

   &__img img {
      display: block;
      border: 5px solid white;
      border-radius: 10px;
      margin: 0 auto;
      width: 90%;
   }

}

 .swiper-pagination ::v-deep {
.swiper-pagination-bullet {
   opacity: 1;
   border: white solid 1px;
   background-color: transparent;
   }
.swiper-pagination-bullet-active {
   background-color: white;
  }
}
  